<form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
    <div class="alert alert-danger" role="alert" *ngIf="service.loginErrorMessage != null">
        {{ service.loginErrorMessage }}
    </div>
    <div class="form-group mt-4">
        <label>
            Username
        </label>
        <input class="form-control" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" required />
    </div>
    <div class="form-group">
        <label>
            Password
        </label>
        <input type="password" class="form-control" #UserName="ngModel" name="PassWord" [(ngModel)]="formModel.Password" required />
    </div>
    <button type="submit" class="btn btn-dark btn-lg btn-block mt-5" [disabled]="form.invalid">
        Login
    </button>
</form>